<div class="jumbotron">
  <div class="container">
    <div class="center">
	    <h1>Tech Search</h1>
	    <h2>The easiest way to find licensable technology from University and Federal Research Laboratories</h2>
  	</div>
  </div>
</div>